<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <h1>My Blog</h1>
    </header>
    <section>
        <article>
            <h2>Blog Post 1</h2>
            <p>This is the content of the first blog post.</p>
        </article>

        <article>
            <h2>Blog Post 2</h2>
            <p>This is the content of the second blog post.</p>
        </article>
    </section>
    <footer>
        <a href="/">Back to CV</a>
    </footer>
</body>

</html>